<div class = "navbar">
  <div class="navbar-section navbar-section__top">
    <div class="navbar-link">
      <a href="/"></a>
    </div>
  </div>
  <div class="navbar-section navbar-section">
    <div class="navbar-link">
      <a href="/"></a>
    </div>
    <div class="navbar-link">
      <a href="/"></a>
    </div>
    <div class="navbar-link">
      <a href="/"></a>
    </div>
  </div>
  <div class="navbar-section navbar-section__bottom">
    <div class="navbar-link">
      <a href="/"></a>
    </div>
  </div>

</div>
