<div class="navbar">
  <div class="navbar-section navbar-section__top">
    <div class="navbar-link">
      <a (click)="logout()">
        <img src="assets/images/Logo.svg" class="w-64 h-64">
      </a>
    </div>
  </div>
  <div class="navbar-section navbar-section">
    <div class="navbar-link">
      <a routerLink="/">
        <fa-icon [icon]="faHouse" size="lg" style="color: #ffffff !important;"></fa-icon>
      </a>
    </div>
    <div class="navbar-link">
      <a routerLink="/family">
        <fa-icon [icon]="faUsers" class="nav-icon" style="color: #ffffff !important;"></fa-icon>

      </a>
    </div>
    <div class="navbar-link">
      <a routerLink="/lists">
        <fa-icon [icon]="faListCheck" size="lg" style="color: #ffffff !important;"></fa-icon>
      </a>
    </div>
  </div>
  <div class="navbar-section navbar-section__bottom">
    <div class="navbar-link">
      <a routerLink="/settings">
        <fa-icon [icon]="faCog" size="lg" style="color: #ffffff !important;"></fa-icon>

      </a>
    </div>
  </div>

</div>
