$light-gray: #F2F2F2;
$white: #FFFFFF;
$primary-6: #FFC49B;
$primary-5:#E3A67C;
$primary-9:#8E4D1F;
$input-background-color: #FAFAFA;
$input-border-color: #EDEDED;
$black: #000000;
$background: #F5F5F5;