<app-page-descriptor-pill title="Shopping lists"></app-page-descriptor-pill>


<div class="d-flex align-center gap-4 mt-6 flex-grow-1">
  <div class="shopping-list-selector d-flex flex-column gap-4 flex-1">
    <div class="shopping-list-search container  gap-4 d-flex mt-2 align-end justify-between">

      <div class="form-group flex-grow-1">
        <label>Search</label>
        <input class="form-control">
      </div>
      <button class="btn btn__success round w-64 h-64">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>

    </div>

    <div class="shopping-lists-container">
      <ng-container *ngFor="let list of shoppingLists$ | async">
        <div class="shopping-lists-container__item" (click)="getShoppingList(list.id)">
          <div class="d-flex justify-between align-center">
            <span>{{ list.name }}</span>
            <ng-container *ngIf="isSelectedList(selectedList$ | async, list.id)">
              <fa-icon [icon]="faEye" size="lg"></fa-icon>
            </ng-container>
          </div>
        </div>
      </ng-container>

    </div>
  </div>

  <div class="selected-list-container flex-2 align-center justify-center d-flex h-100">

    <ng-container *ngIf="(selectedList$ | async) !== null; else selectList">
      <div class="list-items container flex-grow-1 h-100">

        <ng-container *ngIf="selectedList$ | async as selectedList">

          <div class="list-name-container">
            <h1>{{selectedList.name}}</h1>
            <button class="btn round">
              <fa-icon [icon]="faPen" size="lg"></fa-icon>
            </button>
          </div>
          <div class="shopping-list-container">

            <div class="shopping-list-container__item" *ngFor="let item of selectedList.itemList">
              <p>{{item.name}}</p>
            </div>
          </div>

        </ng-container>
      </div>

    </ng-container>

    <ng-template #selectList>
      <h2>Select a list to see its contents</h2>
    </ng-template>
  </div>

</div>
