<div class="flex-1 h-100" [ngClass]="{'transcribed-list' : (items$ | async).length > 0}">
  <ng-container *ngIf="items$ | async as items">
    <ng-container *ngIf="items.length > 0">
      <div class="items-section flex-1">
        <div class="form-group">
          <label>List Name: </label>
          <input class="form-control" [(ngModel)]="listName" />
        </div>

        <div class="transcribed-list-container">
          <ng-container *ngFor="let item of items; let i = index">
            <app-transcribed-list-item [item]="item"></app-transcribed-list-item>
          </ng-container>
        </div>
        <button (click)="saveShoppingList()">Create List</button>
      </div>
    </ng-container>
    <ng-container *ngIf="items.length === 0">
      <div class="d-flex flex-column align-center justify-center flex-1 h-100">
        <p>When processed, your list items will appear here</p>
      </div>
    </ng-container>

  </ng-container>

</div>
