<app-page-descriptor-pill title="Family shopping list"
                          description="Here you can see the shopping list of your family, as well add, edit and remove certain items"></app-page-descriptor-pill>

<ng-container *ngIf="familyList$ | async as familyList; else noListTemplate">
  <div class="family-shopping-list">
    <ng-container *ngFor="let item of familyList.items">
      <app-family-list-item [item]="item" [familyId]="familyList.familyId"
                            [listId]="familyList.id"></app-family-list-item>
    </ng-container>

  </div>

</ng-container>

<ng-template #noListTemplate>
  <h1>Currently there is no list for this family, you can go to the recorder and add it from there</h1>
</ng-template>
