.primaryButton {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 1rem 7rem; /* reduced horizontal padding */
  box-sizing: border-box; /* makes width include padding and border */
  font-size: 1.5rem;
  font-weight: 450;
  text-decoration: none;
  border-radius: 2rem;
  color: $primary-5;
  background-color: $primary-6;
  border: 2.5px solid $primary-5;
  color: $primary-9;
  transition: background-color 0.3s ease-in-out;
}

