<div>
  <button (click)="startStopRecording()">{{ recording ? 'Stop Recording' : 'Start Recording' }}</button>
</div>

<div>
  <textarea [(ngModel)]="transcript"></textarea>
  <button (click)="processTranscript()">Process</button>
</div>

<div *ngIf="items.length > 0">
  <div>
    <label>List Name: </label>
    <input [(ngModel)]="listName">
  </div>

  <ul>
    <li *ngFor="let item of items; let i = index">
      <input [(ngModel)]="items[i]">
    </li>
  </ul>
  <button (click)="saveShoppingList()">Create List</button>
</div>