<div class="family-shopping-list__item" *ngIf="!isDeleting" [@fade]>
  
  <div class="family-shopping-list__item__left">
    <img [src]="item.photoSrc" class="family-shopping-list__item__left__image">
    <div class="family-shopping-list__item__left__content">
      <p class="family-shopping-list__item__left__content__name" [ngClass]="{'text-through':item.checked}">

        <ng-container *ngIf="!isEdit">
          {{ item.name.toUpperCase() }}
        </ng-container>

        
        <ng-container *ngIf="isEdit">
          <input class="form-control" [(ngModel)]="item.name" autofocus (blur)="editName()">
        </ng-container>

      </p>
      <!-- <p>{{item.addedBy.name || "No name"}} {{item.addedBy.surname || "No name"}}</p> -->
      <p class="mt-2"> Added by:</p>
      <p>{{item.addedBy.email || "No email"}}</p>
    </div>
  </div>

  <div class="family-shopping-list__item__actions">
    <button class="family-shopping-list__item__actions__action primary" title="Edit" (click)="enableEdit()">
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
    <button class="family-shopping-list__item__actions__action warning" title="Delete" (click)="deleteItem()">
      <fa-icon [icon]="faTrash"></fa-icon>

    </button>
    <button class="family-shopping-list__item__actions__action success" *ngIf="!item.checked" title="Check off"
      (click)="checkOffItem()">
      <fa-icon [icon]="faCheck"></fa-icon>
    </button>
    <button class="family-shopping-list__item__actions__action danger" *ngIf="item.checked" title="Uncheck"
      (click)="uncheckItem()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>

  </div>
</div>