<div class="auth-page">
        <div class="login-container">
            <div class="logo">
                <img src="../../../assets/images/Logo.svg" alt="Logo">
            </div>

            <div class="header">
                <h1 class="header-wishlist">WishList</h1>
            </div>

            <div class="form-container">
                <form [formGroup]="form" (ngSubmit)="submit()">
                <div class="form-group">
                    <label class="label" for="inputEmail">Email</label>
                    <input autocomplete="off" type="text" class="input" placeholder="Username">
                </div>
                <div class="form-group">
                    <label class="label" for="inputEmail">Password</label>
                    <input autocomplete="off" type="password" class="input" placeholder="Password">
                </div>
                <div class="form-button">
                    <button [disabled]="!form.valid" class="primaryButton">{{modeButtonString}}</button>
                </div>
                <div class="display-mode-message">
                    <a class="text-muted" (click)="onSwitchMode()">{{displayModeString}}</a>
                </div>
             </form>
            </div>
        </div>
</div>