$border-radius: 2rem;
$label-font-family: Inter;
$label-font-style: normal;
$label-font-weight: 400;
$lable-font-size: 20px;
$border-radius-input: 10px;

$light-gray: #f2f2f2;
$white: #ffffff;
$primary-6: #ffc49b;
$primary-5: #e3a67c;
$primary-9: #8e4d1f;
$input-background-color: #fafafa;
$input-border-color: #ededed;
$black: #000000;
$background: #f5f5f5;
